<form method="post">
    <fieldset>
        <legend>ajouter Equipe</legend>
        <div id="res">

            Pays <input type="text" id='pays' name="pays"><br>
            Etat <input type="text" id='etat' name="etat"><br>
            Phase <input type="text" id='phase' name="phase"><br>
            Groupe <select id="groupe" name="groupe">
                <option value="A">A</option>
                <option value="B">B</option>
                <option value="C">C</option>
                <option value="D">D</option>
            </select><br>
            Selectionneur <input type="text" id='selecteur' name="selecteur"><br>
            Point <input type="text" id='point' name="point"><br>
           drapeau <input type="text" id='liendrapeau' name="liendrapeau"><br>
            <button type="submit">ajouter</button>
        </div>
    </fieldset>
</form>

